# Lesson 3 Class Exercises: Pandas Part 1

With these class exercises we learn a few new things.  When new knowledge is introduced you'll see the icon shown on the right: 
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>

## Reminder
The first checkin-in of the project is due next Tueday.  After today, you should have everything you need to know to accomplish that first part.

## Get Started
Import the Numpy and Pandas packages

In [2]:
import numpy as np
import pandas as pd

## Exercise 1: Import Iris Data
Import the Iris dataset made available to you in the last class period for the Numpy part2 exercises. Save it to a variable naemd `iris`. Print the first 5 rows and the dimensions to ensure it was read in properly.

In [3]:
iris = pd.read_csv('data/iris.csv')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

Notice how much easier this was to import compared to the Numpy `genfromtxt`. We did not have to skip the headers, we did not have to specify the data type and we can have mixed data types in the same matrix.

## Exercise 2: Import Legislators Data
For portions of this notebook we will use a public dataset that contains all of the current legistators of the United States Congress. This dataset can be found [here](https://github.com/unitedstates/congress-legislators).  

Import the data directly from this URL:  https://theunitedstates.io/congress-legislators/legislators-current.csv

Save the data in a variable named `legistators`. Print the first 5 lines, and the dimensions. You can get the dimensions of the dataframe using the `.shape` member variable.

In [8]:
leg = pd.read_csv('https://theunitedstates.io/congress-legislators/legislators-current.csv')
leg

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
0,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
1,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
2,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
3,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
4,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,Balint,Becca,A.,NaN,NaN,Becca Balint,1968-05-04,F,rep,VT,...,NaN,NaN,H2VT01076,NaN,456948,NaN,NaN,NaN,NaN,Becca Balint
536,Gluesenkamp Perez,Marie,NaN,NaN,NaN,Marie Gluesenkamp Perez,1988-06-06,F,rep,WA,...,NaN,NaN,H2WA03217,NaN,456949,NaN,Marie Gluesenkamp Perez,NaN,NaN,Marie Gluesenkamp Perez
537,Van Orden,Derrick,Francis,NaN,NaN,Derrick Van Orden,1969-09-15,M,rep,WI,...,NaN,NaN,H0WI03175,NaN,456950,NaN,Derrick Van Orden,NaN,NaN,Derrick Van Orden
538,Hageman,Harriet,Maxine,NaN,NaN,Harriet M. Hageman,1962-10-18,F,rep,WY,...,NaN,NaN,H2WY00166,NaN,456951,NaN,Harriet Hageman,NaN,NaN,Harriet Hageman
539,Ricketts,Pete,NaN,NaN,NaN,Pete Ricketts,1964-08-19,M,sen,NE,...,NaN,S423,S6NE00129,61233.0,456952,57777.0,Pete Ricketts,NaN,NaN,Pete Ricketts

## Exercise 3: Explore the Data
### Task 1
Print the column names of the legistators dataframe and explore the type of data in the data frame.

In [6]:
legislators.columns

Index(['last_name', 'first_name', 'middle_name', 'suffix', 'nickname',
       'full_name', 'birthday', 'gender', 'type', 'state', 'district',
       'senate_class', 'party', 'url', 'address', 'phone', 'contact_form',
       'rss_url', 'twitter', 'twitter_id', 'facebook', 'youtube', 'youtube_id',
       'mastodon', 'bioguide_id', 'thomas_id', 'opensecrets_id', 'lis_id',
       'fec_ids', 'cspan_id', 'govtrack_id', 'votesmart_id', 'ballotpedia_id',
       'washington_post_id', 'icpsr_id', 'wikipedia_id'],
      dtype='object')

### Task 2
Show the data types of all of the columns in the legislator data. To do this, use the `.dtype` member variable. Do all of the data types seem appropriate for the data?

In [8]:
legislators.dtypes

last_name              object
first_name             object
middle_name            object
suffix                 object
nickname               object
full_name              object
birthday               object
gender                 object
type                   object
state                  object
district              float64
senate_class          float64
party                  object
url                    object
address                object
phone                  object
contact_form           object
rss_url                object
twitter                object
twitter_id            float64
facebook               object
youtube                object
youtube_id             object
mastodon               object
bioguide_id            object
thomas_id             float64
opensecrets_id         object
lis_id                 object
fec_ids                object
cspan_id              float64
govtrack_id             int64
votesmart_id          float64
ballotpedia_id         object
washington_post_id    float64
icpsr_id              float64
wikipedia_id           object
dtype: object

Show all of the data types in the iris dataframe. To do this, use the `.dtype` member variable.

In [9]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### Task 3
It's always important to know where the missing values are in your data. Are there any missing values in the legislators dataframe? How many per column?  

Hint: we didn't learn how to find missing values in the lesson, but we can use the `isna()` function.

How about in the iris dataframe?

### Task 4
It is also important to know if you have any duplicatd rows. If you are performing statistcal analyses and you have duplicated entries they can affect the results.  So, let's find out.  Are there any duplicated rows in the legislators dataframe?  Print then number of duplicates. If there are duplicates print the rows. What function could we used to find out if we have duplicated rows?

Do we have duplicated rows in the iris dataset? Print the number of duplicates? If there are duplicates print the rows.

If there are duplicated rows should we remove them or keep them?

### Task 5
It is important to also check that the range of values in our data matches expectations.  For example, if we expect to have four species in our iris data, we should check that we see four species. How many political parties should we expect in the legislators data?  If all we saw were a single part perhaps the data is incomplete.... Let's check.   You can find out how many unique values there are per column using the `nunique` function.  Try it for both the legislators and the iris data set.

What do you think?  Do we see what we might expect?  Are there fields where this type of check doesn't matter? In what fields might this type of exploration matter?

Check to see if you have all of the values expected for a given field. Pick a column you know should have a set number of values and print all of the unique values in that column. Do so for both the legislator and iris datasets.

## Exercise 5: Describe the data
For both the legislators and the iris data, get descriptive statistics for each numeric field.

## Exercise 6: Row Index Labels
For the legislator dataframe, let's change the row labels from numerical indexes to something more recognizable.  Take a look at the columns of data, is there anything you might want to substitue as a row label?  Pick one and set the index lables. Then print the top 5 rows to see if the index labels are present.

In [5]:
legislators.index = legislators['state']
legislators.head()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
state,,,,,,,,,,,,,,,,,,,,,
OH,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
WA,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
MD,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
DE,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
PA,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.

## Exercise 7: Indexing & Sampling
Randomly select 15 Republicans or Democrats (your choice) from the senate.

In [14]:
leg[(leg['type'] == 'sen') & (leg['party'] == 'Republican')].sample(15)

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
172,Young,Todd,C.,NaN,NaN,Todd Young,1972-08-24,M,sen,IN,...,N00030670,S391,"H0IN09070,S6IN00191",1033743.0,412428,120345.0,Todd Young,NaN,21133.0,Todd Young
200,Daines,Steve,NaN,NaN,NaN,Steve Daines,1962-08-20,M,sen,MT,...,N00033054,S375,"H2MT01060,S2MT00096",1034037.0,412549,135720.0,Steve Daines,NaN,21338.0,Steve Daines
21,Risch,James,E.,NaN,NaN,James E. Risch,1943-05-03,M,sen,ID,...,N00029441,S323,S8ID00092,1020034.0,412322,2919.0,Jim Risch,NaN,40902.0,Jim Risch
378,Hawley,Joshua,NaN,NaN,Josh,Josh Hawley,1979-12-31,M,sen,MO,...,N00041620,S399,S8MO00160,NaN,412840,169716.0,Josh Hawley,NaN,41901.0,Josh Hawley
13,Wicker,Roger,F.,NaN,NaN,Roger F. Wicker,1951-07-05,M,sen,MS,...,N00003280,S318,"H4MS01078,S8MS00196",18203.0,400432,21926.0,Roger Wicker,NaN,29534.0,Roger Wicker
116,Moran,Jerry,NaN,NaN,NaN,Jerry Moran,1954-05-29,M,sen,KS,...,N00005282,S347,"H6KS01096,S0KS00091",45469.0,400284,542.0,Jerry Moran,NaN,29722.0,Jerry Moran
126,Paul,Rand,NaN,NaN,NaN,Rand Paul,1963-01-07,M,sen,KY,...,N00030836,S348,S0KY00156,9265241.0,412492,117285.0,Rand Paul,NaN,41104.0,Rand Paul
94,Lankford,James,NaN,NaN,NaN,James Lankford,1968-03-04,M,sen,OK,...,N00031129,S378,"H0OK05114,S4OK00232",1033847.0,412464,124938.0,James Lankford,NaN,21166.0,James Lankford
376,Scott,Rick,NaN,NaN,NaN,Rick Scott,1952-12-01,M,sen,FL,...,N00043290,S404,S8FL00273,NaN,412838,124204.0,Rick Scott,NaN,41903.0,Rick Scott
12,Barrasso,John,A.,NaN,NaN,John Barrasso,1952-07-21,M,sen,WY,...,N00006236,S317,S6WY00068,1024777.0,412251,52662.0,John Barrasso,NaN,40707.0,John Barrasso
202,Cramer,Kevin,NaN,NaN,NaN,Kevin Cramer,1961-01-21,M,sen,ND,...,N00004614,S398,"H0ND01026,H6ND00074,S8ND00120",7600.0,412555,444.0,Kevin Cramer,NaN,21350.0,Kevin Cramer
260,Rounds,Mike,NaN,NaN,NaN,Mike Rounds,1954-10-24,M,sen,SD,...,N00035187,S381,S4SD00049,78317.0,412669,7455.0,Mike Rounds,NaN,41505.0,Mike Rounds
210,Mullin,Markwayne,NaN,NaN,NaN,Markwayne Mullin,1977-07-26,M,sen,OK,...,N00033410,S419,H2OK02083,1034045.0,412568,135898.0,Markwayne Mullin,NaN,21355.0,Markwayne Mullin
266,Kennedy,John,Neely,NaN,NaN,John Kennedy,1951-11-21,M,sen,LA,...,N00026823,S389,S4LA00065,1011723.0,412679,35496.0,John Neely Kennedy,NaN,41703.0,John Kennedy (Louisiana politician)
290,Budd,Ted,NaN,NaN,NaN,Ted Budd,1971-10-21,M,sen,NC,...,N00039551,S417,H6NC13129,103513.0,412712,171489.0,Ted Budd,NaN,21708.0,Ted Budd

## Exercise 8: Dates
<span style="float:right; margin-left:10px; clear:both;">![Task](../media/new_knowledge.png)</span>
Let's learn something not covered in the Pandas 1 lesson regarding dates.  We have the birthdates for each legislator, but they are in a String format.  Let's convert it to a datetime object. We can do this using the `pd.to_datetime` function.  Take a look at the online documentation to see how to use this function. Convert the `legislators['birthday']` column to a `datetime` object. Confirm that the column is now a datetime object.

In [17]:
leg['birthday'] = pd.to_datetime(leg['birthday'])
leg.dtypes

last_name                     object
first_name                    object
middle_name                   object
suffix                        object
nickname                      object
full_name                     object
birthday              datetime64[ns]
gender                        object
type                          object
state                         object
district                     float64
senate_class                 float64
party                         object
url                           object
address                       object
phone                         object
contact_form                  object
rss_url                       object
twitter                       object
twitter_id                   float64
facebook                      object
youtube                       object
youtube_id                    object
mastodon                      object
bioguide_id                   object
thomas_id                    float64
opensecrets_id                object
lis_id                        object
fec_ids                       object
cspan_id                     float64
govtrack_id                    int64
votesmart_id                 float64
ballotpedia_id                object
washington_post_id           float64
icpsr_id                     float64
wikipedia_id                  object
dtype: object

Now that we have the birthdays in a `datetime` object, how can we calculate their age?  Hint: we can use the `pd.Timestamp.now()` function to get a datetime object for this moment. Let's subtract the current time from their birthdays.  Print the top 5 results.

In [19]:
timed = pd.Timestamp.now() - leg['birthday']

Notice that the result of subtracting two `datetime` objects is a `timedelta` object. It contains the difference between two time values. The value we calculated therefore gives us the number of days old.  However, we want the number of years. 

To get the number of years we can divide the number of days old by the number of days in a year (i.e. 365). However, we need to extract out the days from the `datetime` object. To get this, the Pandas Series object has an accessor for extracting components of `datetime` objects and `timedelta` objects. It's named `dt` and it works for both.  You can learn more about the attributes of this accessor at the [datetime objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#datetime-properties) and the [timedelta objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#timedelta-properties) by clicking.  Take a moment to look over that documentation.

How would then extract the days in order to divide by 365 to get the years?  Once you've figurd it out. Do so, convert the years to an integer and add the resulting series back into the legislator dataframe as a new column named `age`.  Hint: use the [astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html) function of Pandas to convert the type.

In [35]:
age = timed.dt.days / 365
leg['age'] = age.astype(int)
leg['age'].describe()

count    540.000000
mean      58.361111
std       12.340905
min       26.000000
25%       49.000000
50%       59.000000
75%       68.000000
max       89.000000
Name: age, dtype: float64

Next, find the youngest, oldest and average age of all legislators

Who are the oldest and youngest legislators?

In [37]:
leg[(leg['age'] == leg['age'].min()) or (leg['age'] == leg['age'].max())]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

## Exercise 9:  Indexing with loc and iloc
Reindex the legislators dataframe using the state, and find all legislators from a state of your choice using the `loc` accessor.

Use the loc command to find all legislators from South Carolina and North Carolina

Use the loc command to retrieve all legislators from California, Oregon and Washington and only get their full name, state, party and age

## Exercise 10: Economics Data Example
### Task 1: Explore the data
Import the data from the [Lectures in Quantiatives Economics](https://github.com/QuantEcon/lecture-source-py) regarding minimum wages in countries round the world in US Dollars.  You can view the data [here](https://github.com/QuantEcon/lecture-source-py/blob/master/source/_static/lecture_specific/pandas_panel/realwage.csv) and you can access the data file here: https://raw.githubusercontent.com/QuantEcon/lecture-source-py/master/source/_static/lecture_specific/pandas_panel/realwage.csv.  Then perform the following

Import and print the first 5 lines of data to explore what is there.

Find the shape of the data.

List the column names.

Identify the data types. Do they match what you would expect?

Identify columns with missing values.

Identify if there are duplicated entires.

How many unique values per row are there.  Do these look reasonable for the data type and what you know about what is stored in the column?

### Task 2: Explore More
Retrieve descriptive statistics for the data.

Identify all of the countries listed in the data.

Convert the time column to a datetime object.

Identify the time points that were used for data collection. How many years of data collection were there? What time of year were the data collected?

Because we only have one data point collected per year per country, simplify this by creating a new `Series` with just the year.  Print the first 5 rows to confirm the column was added.

There are two pay periods.  Retrieve them in a list of just the two strings

### Task 3: Clean the data
We have no duplicates in this data so we do not need to consider removing those, but we do have missing values in the `value` column. Lets remove those.  Check the dimensions afterwards to make sure they rows with missing values are gone.

### Task 4:  Indexing
Use boolean indexing to retrieve the rows of annual salary in United States

Do we have enough data to calculate descriptive statistics for annual salary in the United States in 2016?

Use loc to calculate descriptive statistics for the hourly salary in the United States and then again separately for Ireland. Hint: you will have to set row indexes.

Now do the same for Annual salary